.about {
  width: 100%;
  min-height: 60%;
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  justify-content: space-around;
}

.about-item {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-item__header {
  text-align: center;
  font-size: 26px;
}

.about-item__content {
  font-size: 18px;
  text-indent: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  background-color: #e2e2e2;
  width: 100%;
  border-top: 2px groove #de0000;
  border-bottom: 2px groove #de0000;
}