@import 'About.css';
@import 'Footer.css';
@import 'Header.css';
@import 'Loader.css';
@import 'Replay.css';
@import 'Shaman.css';
@import 'Scaffolding.css';

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  overflow: auto;
  background-color: rgba(0,0,0,0);
  box-shadow: inset 0 0 0px black;
}

.home-disclaimer {
  text-align: center;
  padding: 40px;
}

.home-youtube {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 40px;
  align-items: center;
}

.link-brand {
  color: #2c6aa0;
  cursor: pointer;
}

.link-brand:hover {
  color: #2c6aa0;
  text-decoration: underline;
}

.logo-splash {
  width: 80%;
}