@import 'About.css';
@import 'AutoReload.css';
@import 'Footer.css';
@import 'Header.css';
@import 'Loader.css';
@import 'Replay.css';
@import 'Scaffolding.css';
@import 'Shaman.css';

/*
Dark Purple: #322938
Gray-green: #89A194
Tan: #CFC89A
Orange: #CC883A
Red: #A14016
*/