.footer {
  height: 60px;
  /* color: white; */
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0.2rem 0 0.5rem rgba(0,0,0,.2);
  background-color: #CFC89A;
}