.footer {
  height: 60px;
  background-color: #e9d5bb;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7A5230;
  font-size: 16px;
  font-family: 'Cinzel', serif;
  position: relative;
}