/* #17c57b */
.navbar > .container {
  margin: 0;
}

.navbar {
  margin-bottom: 0px;
  border: none;
}

.navbar-default {
  background-color: inherit;
  width: 100%;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.app-nav__item > a:hover {
  color: #24180E !important;
}

.app-nav__item > a[aria-expanded="true"]{
  color: white !important;
  background-color: #c2a988 !important;
}

.app-nav__item > a {
  transition: color 0.5s ease;
  display: flex !important;
  color: #7A5230 !important;
  /* padding: 0 !important; */
  font-size: 18px;
  align-items: flex-end;
}

.app-nav__item > a > img {
  width: 25px;
  margin-right: 10px;
  border-radius: 2px;
}

.app-nav__item > a > .caret {
  display: none;
}

.header {
  background-color: #ffc946;
  background-image: url("top.png");
  background-repeat: no-repeat;
  min-height: 100px;
  display: flex;
  align-items: center;
  font-family: 'Cinzel', serif;
  position: relative;
}

.logo {
  height: 50px;
}

.navbar-header {
  height: 55px !important;
  padding: 0;
  display: flex;
  align-items: center;
}
