.upload__button {
  border-bottom: 1px solid lightgray;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;
  padding-right: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  background-color: white;
}

.replay-form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.replay {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}

.replay:nth-of-type(odd) {
  background-color: white;
}

.replay__img {
  width: 40px;
  height: 40px;
}

.replay__item-teams {
  display: flex;
  flex-wrap: wrap;
}

.replay__item-details {
  text-align: end;
}

.replay__item {
  max-width: 80%;
}

.replay__item-more {
  margin-top: 5px;
  font-size: 14px;
}

.replay__item-map {
  font-size: 18px;
}

.player {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: 10px;
}

.player__name {
  margin-left: 10px;
  color: inherit;
}

.apm {
  font-size: 12px;
  padding-top: 2px;
}

.jumbotron {
  margin-bottom: 0px;
}

.team {
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-more-replays {
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: white;
}

@media (max-width: 680px) {
  .replay {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .replay__item-details {
    padding-top: 20px;
    text-align: center;
    width: 100%;
  }
  .replay__item-teams {
    justify-content: center;
    flex-direction: column;
  }
  .replay__item-description {
    margin: 0 auto;
  }
}
