.shaman {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.shaman__title {
  font-size: 30px;
  border-bottom: 1px solid black;
}

.shaman__list {
  width: 80%;
}

.shaman__item {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.shaman__item-name {
  margin-left: 10px;
  font-size: 20px;
}

.shaman__item-blurb {
  font-size: 16px;
}