.shaman__item {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.shaman__item:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.shaman__item-name {
  margin-left: 10px;
  font-size: 20px;
}

.shaman__item-blurb {
  font-size: 16px;
}